@charset "UTF-8";
body {
  background-color: #0E8BCD;
  font: bold 100% sans-serif; }

.header-Main {
  margin-left: 40%; }

.header-Body {
  background-color: #ffffff;
  height: 600px; }

.header-Body-texto {
  padding-bottom: 5%; }

h2 {
  float: left;
  margin-top: 1%;
  margin-left: 10%; }

h3 {
  float: left;
  font-weight: normal;
  color: #CBCBCB;
  margin-left: 15px; }

#Idioma {
  float: right;
  margin-right: 45px;
  border: none;
  color: #076dac;
  font-size: 18px;
  margin-top: 2%; }

input {
  border-radius: 5px;
  border-color: #D7D5D4;
  height: 35px; }

label {
  margin-top: 12px; }

.text-Nombres {
  float: left;
  width: 20%;
  margin-left: -5%;
  margin-right: 5%; }

.text-Apellidos {
  width: 20%;
  float: left; }

.text-Email {
  width: 46%;
  margin-left: 4%;
  float: left; }

.text-password {
  margin-right: 19%;
  width: 46%; }

.body-formulario {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%; }

.label-nombre {
  margin-right: 9%;
  margin-left: 16%;
  float: left; }

.label-email {
  float: left;
  margin-left: 18%; }

.label-sexo {
  float: left;
  margin-left: 19%;
  margin-top: 12px; }

.label-M {
  float: left;
  margin-top: 12px; }

.label-F {
  float: left;
  margin-top: 12px; }

.label-fechaN {
  float: left;
  margin-left: 1%; }

.label-Contraseña {
  float: left;
  margin-left: 11%; }

.rdbuttonMasculino {
  float: left;
  margin-left: 5%; }

.rdbuttonFemenino {
  float: left;
  margin-left: 5%; }

#Dia {
  float: left;
  margin-left: 4%;
  color: black;
  height: 40px;
  width: 10%;
  border-radius: 8%; }

#Mes {
  float: left;
  margin-left: 1%;
  height: 40px;
  width: 25%;
  border-radius: 8%; }

#Año {
  float: left;
  margin-left: 1%;
  height: 40px;
  width: 10%;
  border-radius: 8%; }

.h4-edadM {
  padding-top: 1%;
  color: #b9b9b9;
  margin-right: 11%;
  font-size: 13px; }

.h4-clave {
  margin: 0px;
  padding-top: 1%;
  color: #076dac;
  margin-right: 8%;
  font-size: 13px; }

.label-movil {
  float: left;
  margin-left: 5%; }

#numero {
  float: left;
  margin-left: 5%;
  height: 40px;
  border-radius: 8%;
  width: 15%; }

.text-movil {
  float: left;
  margin-left: 2%;
  width: 28%; }

.header-footer {
  margin-left: 10%;
  margin-right: 10%; }

.chkAceptar {
  float: left;
  margin-top: -1%;
  margin-right: 2%; }

.buttom {
  float: right;
  width: 12%;
  margin-right: 3%;
  margin-top: 2%;
  background-color: #076dac;
  color: white; }

a {
  text-decoration: none;
  color: #076dac; }
