@charset "UTF-8";
body {
  background-color: #0E8BCD;
  font: bold 100% sans-serif; }

.header-Main {
  margin-left: 40%; }

.header-Body {
  background-color: #ffffff;
  height: 1500px; }

.header-Body-texto {
  padding-bottom: 5%; }

h2 {
  float: left;
  margin-top: 1%; }

h3 {
  float: left;
  font-weight: normal;
  color: #CBCBCB;
  margin-left: 15px; }

#Idioma {
  float: right;
  margin-right: 45px;
  border: none;
  color: #8aadd0;
  font-size: 18px;
  margin-top: 2%; }

input {
  border-radius: 3px;
  border-color: lightslategray; }

.text-Nombres {
  float: left;
  width: 20%;
  margin-right: 5%;
  height: 35px;
  border-radius: 5px; }

.text-Apellidos {
  width: 20%;
  float: left;
  height: 35px; }

.text-Email {
  width: 46%;
  margin-left: 10%;
  float: left;
  height: 35px; }

.text-password {
  height: 35px;
  margin-right: 15%;
  width: 46%; }

.body-formulario {
  text-align: center;
  padding-left: 25%;
  padding-right: 30%; }

.label-nombre {
  margin-right: 9%;
  margin-left: 12%;
  float: left; }

.label-email {
  float: left;
  margin-left: 12%; }

.label-sexo {
  float: left;
  margin-left: 13%; }

.label-M {
  float: left; }

.label-F {
  float: left; }

.label-fechaN {
  float: left; }

.label-Contraseña {
  float: left;
  margin-left: 8%; }

.rdbuttonMasculino {
  float: left;
  margin-left: 10%;
  border: 0px; }

.rdbuttonFemenino {
  float: left;
  margin-left: 10%; }

#Dia {
  float: left;
  margin-left: 10%;
  color: black;
  height: 40px;
  width: 60px; }

#Mes {
  float: left;
  margin-left: 1%;
  height: 40px;
  width: 120px; }

#Año {
  float: left;
  margin-left: 1%;
  height: 40px;
  width: 60px; }

.h4-edadM {
  margin-right: 13%;
  padding-top: 1%;
  color: #b9b9b9; }

.h4-clave {
  margin: 0px;
  padding-top: 1%;
  color: #b9b9b9;
  color: #0E8BCD;
  margin-right: 12%; }

.label-movil {
  float: left;
  margin-left: 3%; }

#numero {
  float: left;
  margin-left: 9%;
  height: 35px; }

.text-movil {
  float: left;
  margin-left: 2%;
  height: 35px; }
